{% extends "layout.html" %}

{% block title %}
    Forum
{% endblock %}

{% block main %}
    <h1>Forum for <i>{{ title }}</i></h1>
    <p>Author(s): {{ authors }}</p>
    <div class = "mb-3">
        <img src="{{thumbnail}} " width="100" alt="Book Cover">
    </div>
    <!-- submit comment for overall forum -->
    <form action = "/comment" method ="post">
        <div class = "type-comment">
            <textarea name = "comment" placeholder = "type comment here"></textarea>
        </div>
        <div class = "mb-3">
            <!-- Values needed to display comment-->
            Currently reading page
            <input name = "page" type = "number" min="0" max = {{pageCount}} oninput="validity.valid||(value='');">
            out of {{pageCount}} total pages (if applicable)
            <input name = "forum_id" type = "hidden" value = '{{forumID}}'> 
            <input name = "pageCount" type = "hidden" value = '{{pageCount}}'>
            
            <!-- Values needed to reload forum.html-->
            <input name = "title" type = "hidden" value = '{{title}}'> 
            <input name = "authors" type = "hidden" value = '{{authors}}'> 
            <input name = "thumbnail" type = "hidden" value = '{{thumbnail}}'> 
        </div>
        <div class = "mb-3">
            <button type = submit>Upload Comment</button>
        </div>
    </form>
    <!-- display existing comments -->
    <!-- structure for comments is a list of these lists comment[username, text, parent_id, date, forum_id, percent]-->
    {% for comment in comments %}
        <div class = comment-box>
            <div class = comment-header>
                <div class="comment-username">
                    {{comment[0]}}
                </div>
                <div class="comment-right">
                    <span class="comment-percent">Percent read: {{comment[5]}}%</span>
                    <span class="comment-date">{{comment[3]}}</span>
                </div>
            </div>
            
            <div class = "comment-text">
                {{comment[1]}}
            </div>
            <!-- TODO make the reply function collapsable -->
            <!-- Reply to a specific comment-->
            <p>
                
                <button class="reply-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                  Reply
                </button>
            </p>
                <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                        <!-- reply to specific comment -->
                        <form action = "/comment" method ="post">
                            <div class = "mb-3">
                                <!-- TODO might need to change the name of this textarea so it doesn't clash with above comment-->
                                <textarea name = "comment" placeholder = 'reply to {{comment[0]}} '></textarea>
                            </div>
                            <div class = "mb-3">
                                <input name = "parent_id" type = "hidden" value = '{{comment[2]}}'> 
                                <input name = "forum_id" type = "hidden" value = '{{comment[4]}}'> 
                            </div>
                            <div class = "mb-3">
                                <button type = submit>Upload Reply</button>
                            </div>
                        </form>
                    </div>
              </div>
        </div>

        
    {% endfor %}
{% endblock %}
