{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h1>Hello, {{username}}!</h1>
    <!-- if no books in TBR, tell them to add some-->
    {% if booksTBR|length == 0 %}
    <div><h4>You have no books in your TBR list. Start adding them in the search tab! </h4></div>
    {% endif %}
    <!-- display books in TBR if exist-->
    {% if booksTBR|length > 0 %}
    <div><h4>Here are some books in your TBR list: </h4></div>

    <div class = "scroll-container">
    {% for book in booksTBR %}
    <div class = "list-item">
        <div><img src = {{book[3]}} height="100"></div>
        <div>{{book[0]}}</div>
        <div>By {{book[1]}}</div>
        <li class="d-flex gap-3 mb-5 mt-3 align-items-center justify-content-center" >
            <form action = "/openForum" method = "POST">
                <input name = "forum_id" type = "hidden" value = '{{book[2]}}'>
                <input type="image" src="../static/AccessForum.png" title="Access Forum" alt="Access Forum" width="48" height="48">
            </form>
            <form action = "/readBook" method = "POST">
                <input name = "forum_id" type = "hidden" value = '{{book[2]}}'>
                <input type="image" src="../static/reading-book.png" title="Mark as Reading" alt="Mark as Reading" width="48" height="48">
            </form>
            <form action = "/deleteBook" method = "POST">
                <input name = "forum_id" type = "hidden" value = '{{book[2]}}'>
                <input type="image" src="../static/remove-book.png" title="Remove Book" alt="Remove Book" width="48" height="48">
            </form>
        </li>  
    </div>
    {% endfor %}
    </div>
    {% endif %}
    <!-- display books currently reading-->
    {% if booksinProg|length > 0 %}
    <div><h4>Here are some books you're currently reading: </h4></div>
    <div class = "table-wrapper">
        <table>
            <tr>
                {% for book in booksinProg %}
                    <td><img src = {{book[3]}} height="100"></td>
                {% endfor %}
            </tr>
            <tr>
                {% for book in booksinProg %}
                    <td>{{book[0]}}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for book in booksinProg %}
                    <td>{{book[1]}}</td>
                {% endfor %}
            </tr>
            <tr>
                {% for book in booksinProg %}
                <td>
                <li class="d-flex gap-3 mb-5 mt-3 align-items-center justify-content-center" >
                    <form action = "/openForum" method = "POST">
                        <input name = "forum_id" type = "hidden" value = '{{book[2]}}'>
                        <input type="image" src="../static/AccessForum.png" title="Access Forum" alt="Access Forum" width="48" height="48">
                    </form>
                    <form action = "/finishBook" method = "POST">
                        <input name = "forum_id" type = "hidden" value = '{{book[2]}}'>
                        <input type="image" src="../static/done-reading.png" title="Mark as Done" alt="Mark as Done" width="48" height="48">
                    </form>
                    <form action = "/deleteBook" method = "POST">
                        <input name = "forum_id" type = "hidden" value = '{{book[2]}}'>
                        <input type="image" src="../static/remove-book.png" title="Remove Book" alt="Remove Book" width="48" height="48">
                    </form>
                </li> 
            </td>
                {% endfor %}
            </tr>
        </table>
    </div>
    {% endif %}
    <!-- display books finished reading iff they exist-->
    {% if booksDone|length > 0 %}
    <div><h4>Here are some books you've finished reading: </h4></div>
    <div class = "scroll-container">
    {% for book in booksDone %}
    <div class = "list-item">
        <div><img src = {{book[3]}} height="100"></div>
        <div>{{book[0]}}</div>
        <div>By {{book[1]}}</div>
        <li class="d-flex gap-3 mb-5 mt-3 align-items-center justify-content-center" >
            <form action = "/openForum" method = "POST">
                <input name = "forum_id" type = "hidden" value = '{{book[2]}}'> 
                <input type="image" src="../static/AccessForum.png" title="Access Forum" alt="Access Forum" width="48" height="48">
            </form>
            <form action = "/deleteBook" method = "POST">
                <input name = "forum_id" type = "hidden" value = '{{book[2]}}'>
                <input type="image" src="../static/remove-book.png" title="Remove Book" alt="Remove Book" width="48" height="48">
            </form>
        </li>  
    </div>
    {% endfor %}
    </div>
    {% endif %}
{% endblock %}
