{% extends "layout.html" %}

{% block title %}
Search
{% endblock %}

{% block main %}

<div class="container mt-4">

    <h1>Search Books</h1>
    <div class = "search-container">
        <i class="fas fa-search search-icon"></i>
        <input autocomplete="off"
            autofocus
            placeholder="Search for a book title..."
            type="text"
            class="form-control mb-3">
        
    </div>

    <!-- RESULTS GO HERE -->
    <ul id="results" class="list-unstyled mt-3"></ul>

</div>

<!-- Javascript to handle the backend of searching-->
<script>
    let input = document.querySelector("input");
    let results = document.getElementById("results");

    let lastQuery = "";

    input.addEventListener("input", async function () {
    
    // .trim() removes whitespace from both ends of the query string
    let q = input.value.trim();
    lastQuery = q;

    // If empty: clear results immediately and do not fetch
    if (q === "") {
        results.innerHTML = "";
        return;
    }

    let response = await fetch("/api/search?q=" + q);
    let books = await response.json();

    // If the input changed while async fetch was running, ignore these results
    // Since async function takes time to run, the user may have typed more characters. Only return search results if the query is still the same. So when the user has paused in their typing
    if (q !== lastQuery) return;

    // Removes special characters from a string and converts to lowercase
    function clean(str) {
        return str.toLowerCase().replace(/[!"#$%&'()*+,-./:;<=>?@[\]^_`{|}~]/g, '');
    }

    // Clean up the query
    let clean_query = clean(q).split(" ");

    let html = "";
    // Loop through the books returned from API and retrieve the titles, authors, and covers 
    for (let b of books) {
        // Used to check if any query words are in the title
        var titleQueryCheck = true;

        // Retrieve info about the books
        let title = b.title.replace("<", "&lt;").replace(">", "&gt;");
        let clean_title = clean(title);
        let authors = b.authors.join(", ") || "Unknown"; // If no authors, display "Unknown"
        let img = b.thumbnail ? `<img src="${b.thumbnail}" width="60">` : "";
        let pageCount = b.pageCount || 0; // TODO fix later. what happens if page count isn't available?

        // Loop through each word searched in the query. If any of the words are in the title, then display this book
        // This is needed because Google Books API searches the subtitles too
        
        for (let word of clean_query) {      
            if (!clean_title.includes(word)) {
                titleQueryCheck = false;          
                break;
            }
        }
        if (titleQueryCheck) {
            html += `
            <li class="d-flex gap-3 align-items-start mb-3">
                <!-- POST form sends user to forum.html -->
                <div>
                    <form action="/add" method="post">
                        <input type="hidden" name="title" value="${title}">
                        <input type="hidden" name="authors" value="${authors}">
                        <input type="hidden" name="thumbnail" value="${b.thumbnail || ''}">
                        <input type="hidden" name="pageCount" value="${pageCount || 0}">
                        <input type="image" src="../static/AddBook.png" title="Add to TBR" alt="Add Book" width="48" height="48">
                    </form>
                </div>
                <div>
                    <form action="/forum" method="post">
                        <input type="hidden" name="title" value="${title}">
                        <input type="hidden" name="authors" value="${authors}">
                        <input type="hidden" name="thumbnail" value="${b.thumbnail || ''}">
                        <input type="hidden" name="pageCount" value="${pageCount || 0}">
                        <input type="image" src="../static/AccessForum.png" title="Access Forum" alt="Access Forum" width="48" height="48">
                    </form>
                </div>
                ${img}
                <div>
                    <strong>${title}</strong><br>
                    <small>${authors}</small>
                </div>
            </li>`;

        }
        
    }

        results.innerHTML = html;
    });
</script>

{% endblock %}
